@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .utility-button {
        @apply bg-blue-500 text-white font-bold py-2 px-4 rounded border-[4px] border-black transition-all duration-500 hover:border-green-400 hover:bg-blue-900;
    }
    .message{
        @apply flex items-center;
    }
    .sent{
        @apply flex-row-reverse
        
    }
    .sent p{
        @apply text-white bg-[#0b93f6] self-end
    }
    .received p{
        @apply bg-[#e5e5ea] text-black
    }
}